<div class="row">
	<div class="col-md-12">
		<br>
		<table class="tabellaRiepilogo" style="width: 80%; margin: 0 auto;">
			<thead>
				<tr>
					<td colspan="4" nowrap class="cellaIntestazione" width="100%"
						style="text-align: center;">Title</td>
				</tr>
			</thead>
			<thead>
				<tr>
					<td colspan="4" nowrap width="100%">sub title</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>infoTitle-1 :</td>
					<td>information-1</td>
					<td>infoTitle-2 :</td>
					<td>information-2</td>
				</tr>
				<tr>
					<td>infoTitle-3 :</td>
					<td>information-3</td>
					<td>infoTitle-4 :</td>
					<td>information-4</td>
				</tr>
				<tr>
					<td>infoTitle-5 :</td>
					<td>information-5</td>
					<td>infoTitle-6 :</td>
					<td>information-6</td>
				</tr>
				<tr>
					<td>infoTitle-7 :</td>
					<td>information-7</td>
					<td>infoTitle-8 :</td>
					<td>information-8</td>
				</tr>
			</tbody>
		</table>
		<br>
	</div>
</div>
