<div class="container rounded-corners shadow"
	data-ng-controller="tablesShowCaseCtrl"
	style="background-color: white; width: 90%;">
	
	<h2 style="text-align: center;">{{title}}</h2>
	<br>
	<div class="container">
			<tabset justified="true"> 
				<tab heading="Resume Table" >
					<div data-ng-include src="'partials/resumeTableShowCase.html'"></div>
				</tab>
				<tab heading="Input Form">
					<div data-ng-include src="'partials/inputFormShowCase.html'"></div>
				</tab>
				<tab heading="Long Justified">
					<div data-ng-include src="'partials/blablaShowCase.html'"></div>
				</tab>
			</tabset>
	</div>
</div>
